#docdoc{
    background-color: #FFE0E3;
}

button{
    background-color:#7BDFF2;
    width: 100%;
    border-radius: 20px;
    color: whitesmoke;
}
h2{
    color: #7BDFF2;

}
#mmm{
    margin-left: 3%;
}
