<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Tinos&display=swap" rel="stylesheet">
<div class="container" id="docdoc">
  <h2 class="sign mt-3 text-center" style="font-family: 'Tinos', serif; font-size: 38px;">Doctor</h2>
    <div class="row">
      <div class="col-md-6 my-3" id="mmm">
        <div class="card">
          <img src="assets/images/med3.jpg" class="card-img-top" alt="...">
        </div>      
    </div>
      <div class="col-md-5 mb-5">
        <div class="d-flex justify-content-center form_container">
          <form>
            <div class="">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="email" class="form-control"  name="full_name" [(ngModel)]="full_name" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text"></div>
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                [(ngModel)]="email"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text"></div>
            </div>
  
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="password"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">
                Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                name="confirm_password"
                [(ngModel)]="confirm_password"
                id="exampleInputPassword1"
              />
            </div>
            <button type="submit" class="btn" (click)="register()" id="btt">
              REGISTER</button
            ><br /><br />
            <p>
          </form>
        </div>
      </div>
    </div>

  

