<div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1536064479547-7ee40b74b807?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
          </div>      
      </div>
      <div class="col-md-4">
        <div class="card">
            <img src="https://media.istockphoto.com/photos/medical-doctor-indoors-portraits-picture-id1323303738?k=20&m=1323303738&s=612x612&w=0&h=_uYkhfNELsMzxvlwqP7oV_cGRmTzXeihVK4ZP_y99C4=" class="card-img-top" alt="...">
          </div>      
      </div>
      <div class="col-md-4">
        <div class="card">
            <img src="https://media.istockphoto.com/photos/healthcare-business-graph-data-and-growth-insurance-healthcare-doctor-picture-id1327568875?k=20&m=1327568875&s=612x612&w=0&h=8La9vIxyfSOYjF80egTAZPjJiodG2Ytar2M69NhuHNE=" class="card-img-top" alt="...">
          </div>     
      </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
          <div class="card">
              <img src="https://media.istockphoto.com/photos/shot-of-a-young-doctor-using-a-digital-tablet-in-a-modern-hospital-picture-id1366374033?k=20&m=1366374033&s=612x612&w=0&h=yRHbl3r6XekT4y_Br-gGjrNsB2AjaJGQmZVv10yldvU=" class="card-img-top" alt="...">
            </div>      
        </div>
        <div class="col-md-4">
          <div class="card">
              <img src="https://media.istockphoto.com/photos/nurse-with-protective-face-mask-working-on-laptop-on-reception-of-picture-id1340046590?k=20&m=1340046590&s=612x612&w=0&h=aGaaY5xzRJxluxNmdUJPABiIeqsZqyONArlwAf2boHI=" class="card-img-top" alt="...">
            </div>      
        </div>
        <div class="col-md-4">
          <div class="card">
              <img src="https://media.istockphoto.com/photos/portrait-of-smiling-black-doctor-making-check-up-for-infant-baby-boy-picture-id1331252840?k=20&m=1331252840&s=612x612&w=0&h=H99rJqhXrPn6S7Xf0H0yg39PvDmt-YGKxjYHzXTyWKc=" class="card-img-top" alt="...">
            </div>     
        </div>
      </div>
  </div>
