<div class="col-md-8 mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Residence</th>
                <th>Email</th>
                <th>Contacts</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listData">
                <td><span>{{item.name}}</span></td>
                <td><span>{{item.age}}</span></td>
                <td><span>{{item.email}}</span></td>
                <td><span>{{item.residence}}</span></td>
                <td><span>{{item.contacts}}</span></td>
                <td><span>{{item.gender}}</span></td>
                <td><button type="reset" class="btn btn-primary" (click)="removeItem(item)">Remove</button></td>



            </tr>

        </tbody>
    </table>
</div>

<button class="btn btn-lg btn-outline-warning" data-bs-toggle="modal" data-bs-target="#updateModal">Update</button>  

    <!-- Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reception</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="userForm">
                    <div class="mt-5 box"> 
                        <div class="mb-3 mt-4">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                                <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Age</label>
                            <input type="number" class="form-control" formControlName="age" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Residence</label>
                            <input type="text" class="form-control" formControlName="residence" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Email</label>
                            <input type="email" class="form-control"  formControlName="email" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Contacts</label>
                            <input type="number" class="form-control"  formControlName="contacts" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                        
                                <select name="gender" id="gender">
                                    <option value="">Gender</option>
                                    <option value="male" id="male">MALE</option>
                                    <option value="female" id="female">FEMALE</option>
                                    <input type="number" class="form-control"  formControlName="gender" id="exampleInputPassword1">
                                </select> 
                            </div>
                    
                    

                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary" (click)="addItem()">Add</button>
                            </div>
                            <div class="col-6">
                                <button type="reset" class="btn btn-primary" (click)="reset()">Reset</button><br><br>
                            </div>
                        </div>
                    </div>
                </form>  

            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
            </div>
            </div>
        </div>
        </div> 


