<div class="container" id="bg">
    <div class="d-flex justify-content-center form_container">
        <form>
            <h2 align="center"style="font-family: Oleo Script Swash Caps, cursive;font-size: 40px;">Nurse</h2>
            <div class="mb-3 mt-4">
                <label for="exampleInputEmail1" class="form-label">Temperature</label>
                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
            <label for="" class="form-label">Blood Pressure</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
            <label for="" class="form-label">Height</label>
            <input type="number"  class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Weight</label>
                <input type="number" class="form-control" id="exampleInputPassword1">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button><br><br>
        </form>
    </div>
</div>

