<div class="container my-3">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-center form_container">
        <form>
          <h2>Register</h2>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              [(ngModel)]="name"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="email" class="form-control"  name="username" [(ngModel)]="username" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
            </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="email"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text"></div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="password"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">
              Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              name="confirm_password"
              [(ngModel)]="confirm_password"
              id="exampleInputPassword1"
            />
          </div>
          <!-- <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div> -->
          <button type="submit" class="btn btn-primary" (click)="register()">
            Register</button
          ><br /><br />
          <p>
            <small
              >Already Have an account?
              <a [routerLink]="['/login']" class="ml-2">Log in</a></small
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
