<div class="container">
    <div class="mt-5">
        <div class="table-responsive w-100">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Residence</th>
                    <th>Contacts</th>
                    <th>Gender</th>
                    <th>Temperature</th>
                    <th>Blood Pressure</th>
                    <th>Height (m)</th>
                    <th>Weight (kgs)</th>
                    <th>INR Range</th>
                    <th>Current Dose (mg)</th>
                    <th>Diagnosis</th>
                    <th>Future Dose</th>       
                    <th>Action</th>
                    <th>Diagnose</th>
                    <th>Update Dose</th>
    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listData">
                    <td>
                        <span>{{ item.full_name }}</span>
                      </td>
                      <td>
                        <span>{{ item.age }}</span>
                      </td>
                      <td>
                        <span>{{ item.email }}</span>
                      </td>
                      <td>
                        <span>{{ item.residence }}</span>
                      </td>
                      <td>
                        <span>{{ item.phone_number }}</span>
                      </td>
                      <td>
                        <span>{{ item.gender }}</span>
                      </td>
                      <td>
                        <span>{{ item.temparature }}</span>
                      </td>
                      <td>
                        <span>{{ item.bp }}</span>
                      </td>
                      <td>
                        <span>{{ item.height }} </span>
                      </td>
                      <td>
                        <span>{{ item.weight }}</span>
                      </td>
                    <td><span>{{item.inr_range}}</span></td>
                    <td>
                        <span>{{ item.currency_dose}}</span>
                      </td>
                      <td>
                        <span>{{ item.diagnosis}}</span>
                      </td>
                      <td>
                        <span>{{ item.future_dose}}</span>
                      </td>
                    <td>
                        <button class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#updateModal" (click)="update(item)">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#diagnosisModal" (click)="update(item)">Diagnosis</button>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#updateDoseModal" (click)="update(item)">Add%</button>
                  </td>
                    
    
    
                    <!-- <td><button type="reset" class="btn btn-primary" (click)="removeItem(item)">Remove</button></td> -->
                </tr>
    
            </tbody>
        </table>
    </div>
    </div>

    <!-- Modal 1 -->
    
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Doctor</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
    
                <form [formGroup]="userForm">
                    <div class="my-2 box">
                    
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Current Dose</label>
                            <input 
                            [value]="getnumber(patient?.currency_dose)"
                            [(ngModel)]="patient.currency_dose"
                            name="current_dose"
                            type="number" class="form-control" formControlName="currency_dose" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text"></div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary" (click)="update_patient()">Update</button>
                            </div>
                        </div>
                    </div>
                </form>          
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
                </div>
            </div>
            </div>
        </div>

        <!-- Modal 2 -->
        <div class="modal" tabindex="-1" id="diagnosisModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Diagnosis</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Target INR</p>
                  <div class="row">
                      <div class="col-md-3">
                        <button type="button" class="btn btn-primary" (click)="setinr('INR 2-3')">2 - 3</button>
                      </div>
                      <div class="col-md-3">
                        <button type="button" class="btn btn-success" (click)="setinr('INR 2.5-3.5')">2.5 - 3.5</button>
                      </div>
                  </div>
                 
                
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"(click)="getRemedy()">Get Remedy</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- Modal 3 -->

    <div class="modal fade" id="updateDoseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Doctor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
  
              <form [formGroup]="userForm">
                  <div class="my-2 box">
                  
                      <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Dose Percentage</label>
                          <input 
                          [value]="getnumber(patient?.doc_percentage)"
                          [(ngModel)]="patient.doc_percentage"
                          name="doc_percentage"
                          type="number" class="form-control" formControlName="doc_percentage" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text"></div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                              <button type="submit" class="btn btn-primary" (click)="setpercentage({doc_percentage})">Update</button>
                          </div>
                      </div>
                  </div>
              </form>          
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
              </div>
          </div>
          </div>
      </div>

    
    
