<div class="container-fluid" id="bg">

    <div class="d-flex justify-content-center form_container">
        <form>
            <h2 class="lab"> LABORATORY </h2>
<hr>
            <div class="mb-3 mt-5">
                <label for="exampleInputInr" class="form-label" id="ran"> INR Range</label>
                <input type="inr" class="form-control" id="exampleInputInr" aria-describedby="inrHelp">
                <div id="inrHelp" class="form-text"></div>
            </div>
            
            <button type="submit" class="btn btn-primary" id="sub"> Submit </button>

        </form>
            </div>
        </div>